# List

1. List is used to store multiple items of either similar or different datatypes in a single variable
2. List is created using square brackets[]
3. List items are ordered
4. List allows duplicates items in it.
5. List items are changable or list is mutable

In [1]:
# Examples of list
fruits_list=["Apple", "Banana", "Mango", "cherry", "Apple"]
print(fruits_list)

['Apple', 'Banana', 'Mango', 'cherry', 'Apple']

In [2]:
# we can add different types of data in a list
m=["Apple", "Banana", 2.5, 3.6, 5]
print(m)

['Apple', 'Banana', 2.5, 3.6, 5]

In [3]:
# we can also add other list in single list
list1 = [10,20,30, [40,50], ["a", "b"]]
print(list1)

[10, 20, 30, [40, 50], ['a', 'b']]

## Indexing - Access elements from list

1. We can access elements in a list by reffering to their index.
2. Python uses zero based indexing, meaning the first index starts from 0.
3. Python also supports negative indexing.

In [4]:
# Examples
fruits = ["Apple", "Banana", "Cherry", "Mango", "Kiwi", "Pinaapple"]

In [5]:
# Access element at first index
print(f"Element at index 0 : {fruits[0]}\n")

# Access element at fourth index
print(f"Element at index 4 : {fruits[4]}\n")

# Access last element using negative indexing
print(f"Element at last index  : {fruits[-1]}\n")

Element at index 0 : Apple

Element at index 4 : Kiwi

Element at last index  : Pinaapple

### List Slicing

Slicing allows us to access a range of elements in a list.
We can specify the start and stop indices and python returns a new list containing the specified elements.

In [6]:
# Syntax
# list_name[start : stop : step]

num = [10, 20, 30, 40, 50, 60, 70, 100]
#      0    1   2   3   4    5   6   7      indices
#      -8   -7  -6  -5  -4   -3  -2  -1     -ve indices


# returns element from index 1 to 3(stop index- 1)
print(f"elements from 1 to 3 :: {num[1:4]}\n")

# return element from staring to fourth element
print(f"elements from start to 4th :: {num[:5]}\n")

# return elements from 3rd to last
print(f"elements from 3rd index to last :: {num[3:]}\n")

# return an alternate elemnts
print(f"Aleternate elements are :: {num[::2]}\n")

# return an reverse list
print(f"reverse number list :: {num[::-1]}")

elements from 1 to 3 :: [20, 30, 40]

elements from start to 4th :: [10, 20, 30, 40, 50]

elements from 3rd index to last :: [40, 50, 60, 70, 100]

Aleternate elements are :: [10, 30, 50, 70]

reverse number list :: [100, 70, 60, 50, 40, 30, 20, 10]

### Modify List

- List is mutable, it means that we can change their elements after creating list.
- We can add, remove, change elements from list

In [7]:
# Example
fruit_basket = ["Apple", "Banana", "Cherry", "Mango"]
print(f"Before modifying list :: {fruit_basket}")

Before modifying list :: ['Apple', 'Banana', 'Cherry', 'Mango']

In [8]:
#change element at index  1
fruit_basket[1] = "Kiwi"
print(f"after changing element at index 1 :: {fruit_basket}")

after changing element at index 1 :: ['Apple', 'Kiwi', 'Cherry', 'Mango']

In [9]:
# Add element in the list
fruit_basket.append("Pineapple")

# append method adds element at the end of list
print(f"After adding an element in the list :: {fruit_basket}")

After adding an element in the list :: ['Apple', 'Kiwi', 'Cherry', 'Mango', 'Pineapple']

In [10]:
# we can add element at desired index in the list
fruit_basket.insert(2, "Orange")

# insert method adds element at desired location
print(f"after adding element at index 2 :: {fruit_basket}")

after adding element at index 2 :: ['Apple', 'Kiwi', 'Orange', 'Cherry', 'Mango', 'Pineapple']

In [11]:
# remove element from the list
fruit_basket.remove("Kiwi")
print(f"elements after removing kiwi item :: {fruit_basket}")

elements after removing kiwi item :: ['Apple', 'Orange', 'Cherry', 'Mango', 'Pineapple']

In [12]:
# pop method removes last element from list
fruit_basket.pop()
print(f"elements after pop method :: {fruit_basket} ")

elements after pop method :: ['Apple', 'Orange', 'Cherry', 'Mango']

In [13]:
# sort elements 

Num =  [5, 2, 9, 1, 5, 6]
Num.sort()
print(f"sorted number list :: {Num}")

sorted number list :: [1, 2, 5, 5, 6, 9]

In [14]:
# reverse sort
Num.sort(reverse = True)
print(f"Reverse sorted number list :: {Num}")

Reverse sorted number list :: [9, 6, 5, 5, 2, 1]

In [15]:
# extend list
num1 = [11, 22, 33]
Num.extend(num1)

print(f"Num list after extending num1 list :: {Num}")

Num list after extending num1 list :: [9, 6, 5, 5, 2, 1, 11, 22, 33]

# Tuple

- Tuple is a collection of items which is ordered, immutable(unchangable) and allows duplicate values.
- In tuple we can add different types of data same as list

In [16]:
#Example
fruitList = ("mango", "orange", "kiwi", "banana")
print(fruitList)

('mango', 'orange', 'kiwi', 'banana')

In [17]:
numberList = (1, 2, 3, "Ram", "Shyam")
print(numberList)

(1, 2, 3, 'Ram', 'Shyam')

### Accessing elements from tuple is same as List indexing

In [18]:
#Example
fruitList = ("mango", "orange", "kiwi", "banana", "guava")

# element at 2nd index
print(f"element at 2nd index : {fruitList[2]}\n")

# element acces using -ve index
print(f"element at 2nd last : {fruitList[-2]}\n")

# elements from first to third element
print(f"elements from 1st to 3rd are : {fruitList[1:4]}")

element at 2nd index : kiwi

element at 2nd last : banana

elements from 1st to 3rd are : ('orange', 'kiwi', 'banana')

In [19]:
# We can not change elements from tuple as it is immutable data type

#fruitList[0] = "xxx"   #it will throw error

# Set

- Set is a collection of unique items.
- It does not allow duplicate values.
- It does not maintain order so that it can't be indexing
- It is mutable. we can add or remove elements after creation, but individual elements inside a set can not be changable.
- we can add different data types in a set

In [20]:
#Example

my_set = {11,22,33,44,55}
print(my_set)              #return element unordered

{33, 22, 55, 11, 44}

In [21]:
# we can also create set like this

my_set1 = set([1,2,3,4,5])    
print(type(my_set1))

<class 'set'>

In [22]:
# we can add different types of data
my_set2 = {"a", 1, "b", (1, 2)}
print(my_set2)

{'a', 1, (1, 2), 'b'}

### Set operations

In [23]:
# Adding element

my_set = {11,22,33,44,55}
print(f"Before adding elements in set :: {my_set}")

my_set.add(100)
print(f"after adding element in set :: {my_set}")

Before adding elements in set :: {33, 22, 55, 11, 44}
after adding element in set :: {33, 100, 22, 55, 11, 44}

In [24]:
# Removing element using remove and discard method
# remove method - if element doesn't show in set , it will throw error 
# discard method - if element doesn't show in set , it will not throw any error 

my_set.remove(55)
print(f"after removing element in set :: {my_set}")

# my_set.remove(200)   will throw key error

after removing element in set :: {33, 100, 22, 11, 44}

In [25]:
# Not throw error while trying to remove not existed element from set using discard method
my_set.discard(55)

- Union Method - Combines two set removing duplicates

In [26]:
set_1 = {100, 200, 300, 400}
set_2 = {200, 400,500,600}

union_set = set_1.union(set_2)
print(union_set)

{100, 200, 300, 400, 500, 600}

- Intersection - includes only elements which are present in both set

In [27]:
set_3 = {10,20,30,50,60}
set_4 = {10,40,50,90}

intersect = set_3.intersection(set_4)
print(intersect)

{10, 50}

# Dict

- Dictionary is a data structure in python which allows user to stor data in Key-Value Pair.
- Dictionary items(Key-Value) are ordered, mutable and not allowed duplicate

In [28]:
#Example
# Key must be unique
# Value can be any data type and no need to unique data

my_dict = {
            "name" : "Kiran",
            "department" : "Data Analytics",
            "Age" : 25
          }

In [29]:
print(my_dict)

{'name': 'Kiran', 'department': 'Data Analytics', 'Age': 25}

In [30]:
# creating dictionary using dict() constructor
employee_data= dict(name="Amar", Age=30, Salary=500000)
print(employee_data)

{'name': 'Amar', 'Age': 30, 'Salary': 500000}

In [31]:
# We can also create dictionary as using list of tuples:

student = dict([("name", "Ajay"),("Roll_no.", 10), ("grade", "A")])
print(student)
print(type(student))

{'name': 'Ajay', 'Roll_no.': 10, 'grade': 'A'}
<class 'dict'>

## Access dictionary item

In [32]:
# Example (Access element using Key )

employee = { 'name' : 'Kiran', 'age' : 25, 'department' : 'Executive'}
employee['name']

'Kiran'

In [33]:
employee['department']

'Executive'

### dictionary methods

- .keys()  = return all keys from the dictionary
- .values() = return all values from dictionary
- .items()  = returns all key-value pairs from dictionary

# Modify dict

In [34]:
# add a new key-value pair in the dict
employee['city'] = "Mumbai"

print(f"employee dict after adding new element :  {employee}")

employee dict after adding new element :  {'name': 'Kiran', 'age': 25, 'department': 'Executive', 'city': 'Mumbai'}

In [35]:
# removing item using del
del employee['age']
print(f"employee dict after deleting an element :  {employee}")

employee dict after deleting an element :  {'name': 'Kiran', 'department': 'Executive', 'city': 'Mumbai'}

In [36]:
# removeing item using pop
employee.pop('department')

'Executive'

In [37]:
print(f"employee dict afterremoving an element using pop :  {employee}")

employee dict afterremoving an element using pop :  {'name': 'Kiran', 'city': 'Mumbai'}

# Day3 Challenge

## create an inventory system tracking items and quantities with a dictionary.

In [38]:
# creating empty inventory first

inventory = {}

# Adding items in the inventory

inventory['Rice'] = "10 KG"
inventory['Milk'] = "5 ltr"
inventory['Bread'] = 10
inventory['Shampoo'] = 20
inventory['Wheat'] = "15 Kg"
inventory['Biscuits'] = 50

# View inventory items after adding items
print(f"after adding items in the inventory :: {inventory}")

after adding items in the inventory :: {'Rice': '10 KG', 'Milk': '5 ltr', 'Bread': 10, 'Shampoo': 20, 'Wheat': '15 Kg', 'Biscuits': 50}

In [39]:
# viewing all inventory products name
print(f"All the inventory products :: {inventory.keys()}\n")

# viewing all inventory products quantities
print(f"All the inventory products quantity :: {inventory.values()}")

All the inventory products :: dict_keys(['Rice', 'Milk', 'Bread', 'Shampoo', 'Wheat', 'Biscuits'])
All the inventory products quantity :: dict_values(['10 KG', '5 ltr', 10, 20, '15 Kg', 50])

In [40]:
# Removing items from inventory

del inventory["Milk"]  # Removes 'Milk' from dictionary
print(f"inventory items after removing Milk : {inventory}\n")

inventory.pop("Bread")  # Removes the value of 'Bread'
print(f"inventory items after removing Bread : {inventory}\n")

inventory items after removing Milk : {'Rice': '10 KG', 'Bread': 10, 'Shampoo': 20, 'Wheat': '15 Kg', 'Biscuits': 50}

inventory items after removing Bread : {'Rice': '10 KG', 'Shampoo': 20, 'Wheat': '15 Kg', 'Biscuits': 50}